[submodule "Packages/2025_06_13_upm_play_with_quest_camera_api"]
	path = Packages/2025_06_13_upm_play_with_quest_camera_api
	url = https://github.com/EloiStree/2025_06_13_upm_play_with_quest_camera_api.git
